// .profile-page {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   border: 1px solid;
//   height: 100vh;
//   margin: 0px;

//   .row-one {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     border: 1px solid;
//   }

//   .col-one {
//     width: calc(100% / 2);
//     border: 1px solid;
//     padding: 20px;
//   }

//   .col-two {
//     width: calc(100% / 4);
//     border: 1px solid;
//     padding: 20px;
//   }
// }

a {
  color: rgb(6, 129, 0);
}

h3 {
  font-size: 1.3em;
}

.profile-container {
  background-color: rgba(225, 225, 225, .6);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}